@import "../../variables";

section {
  &.banner-bottom {
    display: flex;
    width: 100%;
    padding-top: 310px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    margin-top: 90px;
  }

  &.carousel-section {
    display: grid;
    grid-template-columns: 385px repeat(auto-fit, minmax(100px, 1fr));
    column-gap: 35px;
    align-items: center;
    margin-top: 60px;

    .data-block {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      height: 341px;
      width: 100%;
      margin-right: 32px;
      padding: 0 40px;

      h1 {
        font-weight: bold;
        font-size: 48px;
        line-height: 48px;
        letter-spacing: 0.0005em;
        color: $white;
        margin-bottom: 35px;
      }

      span {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        font-size: 28px;
        line-height: 28px;
        color: $white;
      }
    }
  }
}

@media (max-width: $breakpoint-2) and (min-width: ($breakpoint-3 + 1)) {
  section {
    &.banner-bottom {
      margin-top: 60px;
      padding-top: 259px;
    }
    &.carousel-section {
      grid-template-columns: 311px repeat(auto-fit, minmax(100px, 1fr));
      margin-top: 40px;

      .data-block {
        h1 {
          font-size: 40px;
          line-height: 40px;
          margin-bottom: 20px;
        }

        span {
          font-size: 22px;
          line-height: 22px;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-3) and (min-width: $breakpoint-4 + 1) {
  section {
    &.banner-bottom {
      margin-top: 128px;
      padding-top: 259px;
    }

    &.carousel-section {
      grid-template-columns: repeat(1, minmax(100px, 1fr));
      margin-top: 15px;
      padding: 20px 15px 15px;
      background: $pink;
      border-radius: 5px;

      .data-block {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 5px;
        justify-content: space-between;
        align-items: center;
        height: auto;
        margin-bottom: 15px;
        margin-right: 0;
        padding: 0 5px;

        h1 {
          font-size: clamp(18px, 4.6vw, 33px);
          line-height: clamp(28px, 4.6vw, 33px);
          margin: 0;
        }

        span {
          display: flex;
          align-self: flex-end;
          flex-direction: row;
          font-size: clamp(16px, 3.1vw, 22px);
          line-height: clamp(16px, 3.1vw, 22px);
        }
      }
    }
  }
}

@media (max-width: $breakpoint-4) {
  section {
    &.banner-bottom {
      margin-top: 40px;
      padding-top: 140px;
    }

    &.carousel-section {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      margin-top: 40px;
      padding: 20px 20px 30px;
      background: $pink;
      border-radius: 6px;

      .data-block {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0 0 18px;

        h1 {
          font-size: 28px;
          line-height: 28px;
          margin-bottom: 5px;
        }

        span {
          flex-direction: row;
          font-size: 16px;
          line-height: 16px;
        }
      }

      .carousel-wrapper {
        .card {
          .card-price {
            display: none;
          }
        }
      }
    }
  }
}

//  Ant Design

.ant-pagination {
  display: flex;
  flex-direction: row;

  &-options {
    display: none;
  }

  &.mini {
    .ant-pagination-prev,
    .ant-pagination-next {
      .ant-pagination-item-link {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $grey-3;
      }

      &:hover {
        .ant-pagination-item-link {
          color: $pink;
        }
      }

      &.ant-pagination-disabled {
        .ant-pagination-item-link {
          color: rgba(0, 0, 0, 0.2);
        }
      }
    }

    .ant-pagination-item {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;

      a {
        font-size: 20px;
        line-height: 20px;
        color: $grey-3;

        @media (max-width: $breakpoint-4) {
          font-size: 15px;
          line-height: 15px;
        }
      }

      &:hover a {
        color: black;
      }

      &.ant-pagination-item-active {
        a {
          color: black;
          font-weight: normal;
        }
      }
    }
  }
}
