@import "../../variables";

.uploadBtn {
  cursor: pointer;
}
.profile-img {
  max-width: 150px;
  max-height: 150px;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.modalProfile {
  .ant-modal-content {
    padding-top: 90px;
    padding-bottom: 80px;
  }

  .ant-modal-footer {
    text-align: center;
    border: none;

    button {
      width: 180px;
      height: 45px;
      background: $pink;
      border-radius: 5px;
      border: none;
      font-size: 18px;
      font-weight: bold;
      color: $white;
    }

    .deleteButton {
      color: $pink;
      border: 3px solid $pink;
      background: transparent;
    }
  }

  .ant-modal-body {
    text-align: center;

    h3,
    p {
      font-weight: bold;
      font-family: "HelveticaNeueCyr", sans-serif;
      font-style: normal;
      font-size: 24px;
      line-height: 24px;
      color: $dark-blue;
      margin-bottom: 5px;
    }

    p {
      font-size: 18px;
      line-height: 21px;
      color: $grey-3;
    }
  }
}

.profilePage {
  form {
    width: 420px;

    .input-container:not(:first-of-type) {
      margin-top: 20px;
    }
  }

  .orders-history {
    margin-top: 90px;
  }

  button {
    height: 45px;
    width: 100%;
    background: $pink;
    border-radius: 6px;
    margin-top: 30px;
    font-size: 18px;
    color: $white;
    font-weight: bold;
  }

  p {
    font-size: 18px;
    color: $grey-3;
    margin-top: 20px;
  }

  .profile_data {
    display: grid;
    grid-template-columns: 1fr 3fr;

    .forms {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .avatar-wrapper {
      margin-right: 110px;
    }

    .name {
      margin-right: 80px;
    }

    .password {
      button {
        border: 3px solid $pink;
        background: transparent;
        color: $pink;
      }
    }
  }

  .deleteAcc {
    margin-top: 100px;
    margin-bottom: 120px;

    h3 {
      font-family: "HelveticaNeueCyr", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 24px;
      color: $dark-blue;
      cursor: pointer;
    }
  }
}

@media (max-width: 1440px) {
  .modalProfile {
    .bold-36px {
      font-size: 36px;
    }

    .ant-modal-content {
      padding-top: 90px;
      padding-bottom: 80px;
    }

    .ant-modal-footer {
      text-align: center;
      border: none;

      button {
        width: 180px;
        height: 45px;
        background: $pink;
        border-radius: 5px;
        border: none;
        font-size: 18px;
        font-weight: bold;
        color: $white;
      }

      .deleteButton {
        color: $pink;
        border: 3px solid $pink;
        background: transparent;
      }
    }

    .ant-modal-body {
      text-align: center;

      h3,
      p {
        font-weight: bold;
        font-family: "HelveticaNeueCyr", sans-serif;
        font-style: normal;
        font-size: 24px;
        line-height: 24px;
        color: $dark-blue;
        margin-bottom: 5px;
      }

      p {
        font-size: 18px;
        line-height: 21px;
        color: $grey-3;
      }
    }
  }

  .profilePage {
    form {
      width: 100%;

      .input-container:not(:first-of-type) {
        margin-top: 20px;
      }
    }

    .orders-history {
      margin-top: 90px;
    }

    button {
      height: 45px;
      width: 100%;
      background: $pink;
      border-radius: 6px;
      margin-top: 30px;
      font-size: 18px;
      color: $white;
      font-weight: bold;
    }

    p {
      font-size: 18px;
      color: $grey-3;
      margin-top: 20px;
    }

    .profile_data {
      display: grid;
      grid-template-columns: 1fr 3fr;

      .password {
        button {
          border: 3px solid $pink;
          background: transparent;
          color: $pink;
        }
      }
    }

    .deleteAcc {
      margin-top: 100px;
      margin-bottom: 120px;

      h3 {
        font-family: "HelveticaNeueCyr", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        color: $dark-blue;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 1200px) {
  .profilePage {
    .profile_data {
      .avatar-wrapper {
        margin: 0;
        text-align: center;
      }
    }

    form {
      width: 100%;
    }
  }
}

@media (max-width: 991px) {
  .profilePage {
    .profile_data {
      grid-template-columns: 1fr 3fr;
      gap: 0 40px;

      .name {
        margin: 0;
      }

      .forms {
        grid-template-columns: 1fr;
        gap: 60px 0;
      }

      .avatar-wrapper {
        margin: 0;
        text-align: center;
      }
    }

    form {
      width: 100%;
    }
  }
}

@media (max-width: 568px) {
  .profilePage {
    .deleteAcc {
      p {
        font-size: 15px;
        line-height: 17px;
      }
    }

    h2 {
      font-size: 25px;
    }

    .profile_data {
      grid-template-columns: 1fr;
      gap: 30px 0;

      .name {
        margin: 0;
      }

      .forms {
        grid-template-columns: 1fr;
        gap: 60px 0;
      }

      .avatar-wrapper {
        margin: 0;
        text-align: center;
      }
    }

    form {
      width: 100%;
    }
  }
  .modalProfile {
    .ant-modal-content {
      padding: 20px 0 20px 0;
    }

    .ant-modal-body {
      text-align: center;

      h3 {
        font-size: 18px;
        line-height: 14px;
        color: $dark-blue;
        margin-bottom: 15px;
      }

      p {
        font-size: 16px;
        line-height: 14px;
        color: $grey-3;
      }
    }

    .ant-modal-footer {
      button {
        margin: 10px 10px 0 0 !important;
      }
    }
  }
}
